[user]
  name = tanikento
  email = kento.tani@seattleconsulting.co.jp
[includeIf "gitdir:~/my/"]
  path = ~/.gitconfig_my
[core]
  quotepath = false
  autocrlf = false
  ignorecase = false
[color]
  ui = true
[pull]
  rebase = false
[push]
  default = nothing
